<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<menuitem name="gst-root-party" title="Party" />

	<menuitem name="gst-root-contact" parent="gst-root-party"
		title="Contact" action="contact.all" />
	<action-view name="contact.all" title="Contact"
		model="com.axelor.gst.db.Contact">
		<view type="grid" name="contact-grid" />
		<view type="form" name="contact-form" />
	</action-view>

	<menuitem name="gst-root-partys" parent="gst-root-party"
		title="Party" action="party.all" />
	<action-view name="party.all" title="Party"
		model="com.axelor.gst.db.Party">
		<view type="grid" name="party-grid" />
		<view type="form" name="party-form" />
	</action-view>



	<menuitem name="gst-root-configurations" parent="gst-root-party"
		title="Configurations" />

	<menuitem name="gst-root-address" parent="gst-root-configurations"
		title="Address" action="address.all" />

	<menuitem name="gst-root-country" parent="gst-root-configurations"
		title="Country" action="country.all" />

	<menuitem name="gst-root-state" parent="gst-root-configurations"
		title="State" action="state.all" />

	<menuitem name="gst-root-city" parent="gst-root-configurations"
		title="City" action="city.all" />

	<action-view name="address.all" title="Address"
		model="com.axelor.gst.db.Address">
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
	</action-view>

	<action-view name="country.all" title="Country"
		model="com.axelor.gst.db.Country">
		<view type="grid" name="country-grid" />
		<view type="form" name="country-form" />
	</action-view>

	<action-view name="state.all" title="State"
		model="com.axelor.gst.db.State">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>

	<action-view name="city.all" title="City" model="com.axelor.gst.db.City">
		<view type="grid" name="city-grid" />
		<view type="form" name="city-form" />
	</action-view>


	<menuitem name="gst-root-products" title="Product" />
	<menuitem name="gst-root-product" parent="gst-root-products"
		title="Product" action="product.all" />

	<menuitem name="gst-root-product-category" parent="gst-root-products"
		title="Product Category" action="productCategory.all" />

	<action-view name="productCategory.all" title="Product Category"
		model="com.axelor.gst.db.ProductCategory">
		<view type="grid" name="productCategory-grid" />
		<view type="form" name="productCategory-form" />
	</action-view>

	<action-view name="product.all" title="Product"
		model="com.axelor.gst.db.Product">
		<view type="grid" name="product-grid" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-card" />
		<context name="json-enhance" expr="true" />
	</action-view>


	<menuitem name="gst-root-invoices" title="Invoice" />

	<menuitem name="gst-root-invoice" parent="gst-root-invoices"
		title="Create Invoice" action="invoice.all" />
	<menuitem name="gst-root-invoiceDraft" parent="gst-root-invoices"
		title="Draft Invoice" action="DraftInvoice.all" />
	<menuitem name="gst-root-invoiceValidate" parent="gst-root-invoices"
		title="Validated Invoice" action="validateInvoice.all" />
	<menuitem name="gst-root-invoicePaid" parent="gst-root-invoices"
		title="Paid Invoice" action="paidInvoice.all" />

	<menuitem name="gst-root-invoiceCanceled" parent="gst-root-invoices"
		title="Canceled Invoice" action="cancelInvoice.all" />
	<menuitem name="gst-root-invoicePaid" parent="gst-root-invoices"
		title="All Invoice" action="allInvoice.all" />

	<action-view name="invoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="incoice-kanban" />
	</action-view>
	<action-view name="DraftInvoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>self.status = :name</domain>
		<context name="name" expr="draft" />
	</action-view>
	<action-view name="paidInvoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>self.status = :name</domain>
		<context name="name" expr="paid" />
	</action-view>
	<action-view name="validateInvoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>self.status = :name</domain>
		<context name="name" expr="validated" />
	</action-view>

	<action-view name="cancelInvoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>self.status = :name</domain>
		<context name="name" expr="canceled" />
	</action-view>
	<action-view name="allInvoice.all" title="Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		
	</action-view>


	<menuitem name="gst-root-company" title="Company" />
	<menuitem name="gst-root-companys" parent="gst-root-company"
		title="Company" action="company.all" />

	<menuitem name="gst-root-bank" parent="gst-root-company"
		title="Bank Account" action="bank.all" />

	<menuitem name="gst-root-sequence" parent="gst-root-company"
		title="Sequence" action="sequence.all" />

	<action-view name="company.all" title="Company"
		model="com.axelor.gst.db.Company">
		<view type="grid" name="company-grid" />
		<view type="form" name="company-form" />
	</action-view>

	<action-view name="bank.all" title="Bank Account" model="com.axelor.gst.db.Bank">
		<view type="grid" name="bank-grid" />
		<view type="form" name="bank-form" />
	</action-view>



	<action-view name="sequence.all" title="Sequence"
		model="com.axelor.gst.db.Sequence">
		<view type="grid" name="sequence-grid" />
		<view type="form" name="sequence-form" />
	</action-view>

</object-views>
